.explore__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;

 

    &--inner {
        width: 80%;
        padding: 5px;
        display: block;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &-card {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80px;
                height: 5vw;
            }


            transition: all .1s ease;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
            }
        }
    }
}